# Docker Compose (Postgres)
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=job_engine
POSTGRES_PORT=5432

# Aplicacao -> Postgres
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=job_engine

# HTTP
PORT=3000
